.spinner {
    width: 100%;
    text-align: center;
}

.card {
    border-style:solid; border-color:red; border-width:1px;
}

/* Estilos CSS */
.primary {
    background-color: #5834db;
    color: rgb(233, 23, 23);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .primary:hover {
    background-color: rgba(84, 41, 185, 0.815);
  }
  .danger {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  